h1, h2 {
  font-family: 'Open Sans';
}

p, label, select, select option {
  font-family: 'Open Sans';
  font-size: 16px;
}

hr {
  color: #009b00;
}

.spacing {
    margin: 20px;
    text-transform: capitalize;
}

.image-container {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  @media (max-width: 768px) {
    .image-container {
      max-width: 80%;
    }
  }